body {

    background-color: black;
    font-family: 'Montserrat', sans-serif;
}

/* navbar */


.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
    z-index: 2;
  
  }
  

  .topnav #myLinks {
    display: none;
  }
  

  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
 
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  

  .active {
    background-color: #04AA6D;
    color: white;
  }

/* navbar end */



@keyframes cloudy {

    from {

        transform: translateX(0px);
        opacity: 0.2;
    }

    to {

        transform: translateX(20px);
    }
}

@keyframes cloudy2 {

    from {

        transform: translateX(20px);
    }

    to {

        transform: translateX(0px);
        opacity: 0.3;
    }

}


@keyframes sunny2 {

    from {

        transform: rotate(-360deg);
    }
}


@keyframes stormy {


    from {

        transform: translateY(180px);
    }
}


@keyframes cloudy4 {


    from {

        opacity: 0.3;
    }
}

@keyframes sunny {


 0% { transform: scale(30);}

  80% {transform: scale(0);}
}
.horizontalus {
    position: fixed;
    
    width: 100%;
    height: 100%;
    background-color: white;
    top: 50px;
}

.horizontalus h1 {

    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    color: rgb(161, 148, 148);
}

.horizontalus h4 {
    margin-top: 50px;
    margin-left: 19px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    color: rgb(161, 148, 148);

}

.cloudy {

    position: fixed;
    top: 116px;
    height: 80px;
    width: 80px;
    animation: cloudy 3s infinite;
}

.cloudy2 {

    position: fixed;
    top: 128px;
    left: 30px;
    height: 80px;
    width: 80px;
    animation: cloudy2 3s infinite;
}

.skaicius {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    color: rgb(161, 148, 148);
    left: 146px;
    top: 45px;
}

.celsius {
    position: absolute;
    font-size: 20px;
    left: 129px;
    top: 8px;
    color: rgb(161, 148, 148);
    font-family: 'Montserrat', sans-serif;
}



.tekstas2 {
    position: absolute;
    color: rgb(161, 148, 148);
    font-size: 14px;
    top: 175px;
   left: 566px;
}

.dienos {
    position: relative;
    display: inline-block;
    color: rgb(161, 148, 148);
    font-size: 14px;
    padding:35px;
    top: 64px;
    left: 38px;
}

/* pictures */

.stormy {

    position: relative;
    height: 100px;
    width: 100px;
    left: 44px;
    top: -4px;
    animation: stormy 7s ease ;
}


.sunny {

    position: relative;
    height: 100px;
    width: 100px;
    left: 74px;
    top: -20px;
    animation: sunny 4s ease-in ;
}


.sunny2 {

    position: relative;
    height: 100px;
    width: 100px;
    left: 122px;
    top: -20px;
    animation: sunny2 4s  infinite;
}

.cloudy3 {
    margin: 0;
    position: relative;
    height: 150px;
    width: 150px;
    left: 147px;
    top: 2px;
}


.rainy {
    margin: 0;
    position: relative;
    height: 150px;
    width: 150px;
    left: 94px;
    top: 15px;
}

.rainy2 {
    margin: 0;
    position: relative;
    height: 150px;
    width: 150px;
    left: 94px;
    top: 15px;
}


.cloudy4 {
    margin: 0;
    position: relative;
    height: 150px;
    width: 150px;
    left: 73px;
    top: 0px;
    animation: cloudy4 5s ease infinite;
}



/* temperatura */
.temp {
    position: fixed;
    font-size: 20px;
    color: rgb(161, 148, 148);
    top: 490px;
    left: 62px;
    word-spacing: 10px;
    
}
.temp2 {
    position: fixed;
    font-size: 20px;
    color: rgb(161, 148, 148);
    top: 490px;
    left: 204px;
    word-spacing: 10px;
    
}
.temp3 {
    position: fixed;
    font-size: 20px;
    color: rgb(161, 148, 148);
    top: 490px;
    left: 353px;
    word-spacing: 10px;
    
}
.temp4 {
    position: fixed;
    font-size: 20px;
    color: rgb(161, 148, 148);
    top: 490px;
    left: 487px;
    word-spacing: 10px;
    
}
.temp5 {
    position: fixed;
    font-size: 20px;
    color: rgb(161, 148, 148);
    top: 490px;
    left: 605px;
    word-spacing: 10px;
    
}
.temp6 {
    position: fixed;
    font-size: 20px;
    color: rgb(161, 148, 148);
    top: 490px;
    left: 741px;
    word-spacing: 10px;
    
}
.temp7 {
    position: fixed;
    font-size: 20px;
    color: rgb(161, 148, 148);
    top: 490px;
    left: 867px;
    word-spacing: 10px;
    
}



/* media */


@media screen and (min-width:768px) {
    
    .topnav {


      display: inline-block;
      width: 100%;

    }

    .topnav #myLinks {
      display: inline-block;
    }
    
 .topnav a {

  display: inline-block;
 }
}